.FrontPage{
  background-image: url(./images/PatreonHeaderRightAligned.png);
  font-family: Georgia;
  text-align: center;
  height: 400px
}

.FrontPageBody {
  flex-direction: row;
}

.Title {
  color: lime;
}

.SubTitle{
  color:mediumseagreen;
}

.FrontPageText {
  text-align: center; 
  
}
.subscribe {
  color: bisque;
}








